<h3>O amebach</h3><br><br>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="https://pl.wikipedia.org/wiki/Ameba_(biologia)">Tu przeczytasz o nas więcej</a>
    </li>
</ul>

<br><br><br><br><br><br><br>




<div class="d-flex align-items-start">
        <button [routerLink]="'/'" class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
            aria-selected="false">Wróć do strony głównej</button>

    </div>
   
        

    