<br><div class="d-flex align-items-start p-3 mb-2 bg-secondary text-white">
</div>




<lib-employee-detail></lib-employee-detail>


<div class="d-flex align-items-start p-3 mb-2 bg-secondary text-white">
    <button [routerLink]="'/pracownik'" style=margin:5px class="nav-link -3 mb-2 bg-dark text-white" id="v-pills-profile-tab" data-bs-toggle="pill"
        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
        aria-selected="false">Powrót do Nasz Team
    </button><button [routerLink]="'/'" style=margin:5px class="nav-link -3 mb-2 bg-dark text-white" id="v-pills-profile-tab"
        data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
        aria-selected="false">Wróć do strony głównej
    </button>
</div>

